
    /* App Style */
body {
  margin: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  transition: padding .3s; }
  body.detail-off {
    padding-top: 0px; }
    body.detail-off #navbar {
      opacity: 0;
      pointer-events: none; }
    body.detail-off #map {
      height: 100vh; }
    body.detail-off #detail {
      height: 0; }
  body.detail-on {
    padding-top: 42px; }
    body.detail-on #navbar {
      opacity: 1;
      pointer-events: all; }
    body.detail-on #map {
      height: 250px; }
    body.detail-on #detail {
      height: auto; }
  body #map,
  body #detail {
    transition: height .3s; }
  body #map {
    width: 100%; }
  body #detail {
    box-shadow: 0 1px 3px #0000004d;
    padding: 16px;
    overflow: hidden; }
  body #navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 42px;
    background: white;
    box-shadow: 0 1px 7px #0000004d;
    transition: opacity .3s; }
  body #navbar {
    z-index: 20; }
  body #map {
    z-index: 0; }
  body #detail {
    z-index: 10; }
  body .btn-back {
    height: 42px;
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding-left: 12px;
    color: #333;
    cursor: pointer;
    transition: color .3s; }
    body .btn-back:hover {
      color: #000; }

/* Map Style */
.mapboxgl-popup {
  max-width: 600px; }

.mapboxgl-popup-content {
  overflow: hidden;
  max-height: 80vh; }

.list-bordered {
  border-top: 1px dotted #ccc; }

ol, ul {
  list-style: none; }

.list-bordered-items > li {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 8px;
  padding-top: 8px; }

.list-labeled .label {
  display: block;
  float: left;
  text-transform: uppercase;
  width: 185px; }

strong {
  font-weight: bold; }

.container {
  overflow: hidden;
  position: relative; }

.contain:after, .row:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

  
